* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}

/* Height  ------------------------------------------------------------------------------------------------------------------------------*/
.h-auto {
    height: auto;
}

.h-50 {
    height: 50px;
}

.h-300{
    height: 300px;
}

.h-100vh {
    height: 100vh;
}


/* Width */
.w-100vw {
    width: 100vw;
}

.w-80vw {
    width: 80vw;
}

/* Background color  --------------------------------------------------------------------------------------------------------------------*/
.bg-blue {
    background-color: #0081cf;
}

.bg-whitesmoke {
    background-color: whitesmoke;
}

.bg-white {
    background-color: white;
}

/* Display ------------------------------------------------------------------------------------------------------------------------------*/
.flex {
    display: flex;
}

.align-items-center {
    align-items: center;
}

.justify-content-center {
    justify-content: center;
}

.flex-direction-row {
    flex-direction: row;
}

.flex-direction-column {
    flex-direction: column;
}

.inline {
    display: inline;
}

/*Border style --------------------------------------------------------------------------------------------------------------------------*/

.br-5 {
    border-radius: 5px;
}

.br-10 {
    border-radius: 10px;
}

/* Margin -------------------------------------------------------------------------------------------------------------------------------*/

.margin-auto {
    margin: auto;
}

.ml-auto {
    margin-left: auto;
}

.mr-auto {
    margin-right: auto;
}


.ml-auto
.mt-5 {
    margin-top: 5px;
}

.mt-15 {
    margin-top: 15px;
}

.mb-15 {
    margin-bottom: 15px;
}

.ml-5 {
    margin-left: 5px;
}

/* Padding ------------------------------------------------------------------------------------------------------------------------------*/

.p-5 {
    padding: 5px;
}

.p-15 {
    padding: 15px;
}

.p-30 {
    padding: 30px;
}

.px-10 {
    padding-left: 10px;
    padding-right: 10px;
}

.py-10 {
    padding-top: 10px;
    padding-bottom: 10px;
}

.px-15 {
    padding-left: 15px;
    padding-right: 15px;
}

.py-15 {
    padding-top: 15px;
    padding-bottom: 15px;
}

.pr-15 {
    padding-right: 10px;
}

/* Text */

.ta-center {
    text-align: center;
}

/* ------------------------------------------------------------------------------------------------------------------------------------- */
/*Componentes------------------------------------------------------------------------------------------------------------------------*/
/* ------------------------------------------------------------------------------------------------------------------------------------- */

/*Buttons ------------------------------------------------------------------------------------------------------------------------------ */

.btn-blue {
    background-color: #0081cf;
    color: white;
    border: none;
    cursor: pointer;
}
.btn-blue:hover {
    background-color: #fff;
    color: black;
    border: none;
    cursor: pointer;
}

/* Card branco */
/* class="h-auto w-80vw bg-white margin-auto br-10 mt-15 p-30" */